.linkform-bg {
  width: 100%;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  box-sizing: border-box;
}

.link-form-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  position: relative; /* Add this */
  z-index: 1; /* Add this to appear above the background */
}

.link-form-input {
    border-radius: 24px;
    border: none;
    padding: 16px;
    width: 400px;
    font-size: 16px;
    text-align: center;
    outline: none;
}

.link-form-button {
    border-radius: 24px;
    background: #4de1c1;
    color: #222;
    border: none;
    padding: 12px 32px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
